/* 公共样式 */
//

$gradient-main-100: linear-gradient(180deg, #575dff 0%, #4d3afe 100%);
$gradient-purple-100: gradient(180deg, #948ff3 0%, #6670cc 100%);
$gradient-orange-100: gradient(180deg, #daab9a 0%, #e7754d 100%);
$gradient-green-100: gradient(180deg, #9fffd1 0%, #4bc289 100%);
$color-primary: #4f3fff;
$tag-orange-bg: #fedec7;
$tag-orange-text: #ff9b25;
$tag-blue-bg: rgba(182, 192, 243, 0.61);
$tag-blue-text: #3a61e9;
$gray-100: #ececec;
$gray-200: #bcbcbc;
$gray-300: #acacac;

@mixin img_fill {
  img {
    width: 100%;
    height: 100%;
  }
  image {
    width: 100%;
    height: 100%;
  }
}
// 居中
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// 字体样式
@mixin fontMixin($size: 28rpx, $color: #131415, $wei: auto) {
  font-size: $size;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: $wei;
  color: $color;
}
// 字体样式2
@mixin fontMixin2($size: 28rpx, $color: #131415, $wei: auto) {
  font-size: $size;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: $wei;
  color: $color;
}
// 悬浮手势
@mixin pointer {
  cursor: pointer;
}
// 隐藏显示省略号
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// 背景图片
@mixin img_bg($img: '', $color: '') {
  background-color: $color;
  background-image: url($img);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@mixin flex_($j: center, $a: center, $d: auto) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}

.isH5 {
  height: calc(100vh - 88rpx);
}

.required::before {
  content: '*';
  position: absolute;
  left: -20rpx;
  top: 50%;
  transform: translateY(-50%);
  color: red;
}
